.mat-dialog-container {
    width: 550px;
    padding: 30px;
  }
  
  .control-label .label {
    font-weight: bold;
    font-size: 19px;
    color: #da0c00;
  }
  
  .profile-image {
    object-fit: cover;
    height: 180px !important;
    width: 180px !important;
  }
  
  .activity-thumb {
    object-fit: cover;
    height: 70px !important;
    width: 70px !important;
  }
  