<mat-card class="p-2 main-detail-product" *ngFor="let detaildemande of demandesencours">
  <div class="product-detail" fxLayout="row wrap">
    <div class="column m-gap p-gap product-img" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50"
      fxFlex.xl="50">
      <div class="img-thumbnail"><img class="left"
          [src]=" 'assets/images/dem.png'" /></div>
    </div>
    <div class="column m-gap p-gap product-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50"
      fxFlex.xl="50">
      <div class="">
        <h1>Nom d'utilistaeur : {{detaildemande.user.firstname}} </h1>
        <br>
        <div class="price">
          <h4><span>Raison : {{detaildemande.raison}}</span></h4>
          <br>
          <h4><span>Montant : {{detaildemande.montant}}</span></h4>
          <br>
          <h4><span>Type de crédit demandé:  {{detaildemande.typeCredit}}
          </span></h4>

        </div>
        <div class="separator"></div>
      </div>
      <br>
      <br>

      <ul class="share-with">
        <li><i class="fa fa-eye fa-2x">L'etat de votre demande est:     {{detaildemande.etat}}</i></li>
      <br>
      <br>
       <div class="content">
        <button (click)="Acceptedemande(detaildemande.id)"  mat-raised-button mat-button-sm
        color="warn" class="mr-1 ml-3 mb-1"> Accepte </button>
        
        
          <button (click)="Refusedemande(detaildemande.id)"  mat-raised-button mat-button-sm
                  color="warn" class="mr-1 ml-3 mb-1"> Refuse </button>
        </div>
       
      </ul>
    </div>
  </div>
  
</mat-card>
