

  <mat-card>
    <mat-card-title>
      <h5 class="mt-0">Demande  List</h5>
    </mat-card-title>
    <hr>
    <div class="mb-2"></div>
    <div fxLayout="row wrap">
      <ng-container *ngFor="let electoral of demandes">
        <div fxFlex.sm="33.33" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33"
          class="m-gap p-gap">
          <div class="p-list-main mb-2">
            <div class="p-list">
              <div class="top"><img style="height: 250px;
                object-fit: cover;" [src]=" ">
              </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h3>
                      <a [routerLink]="[]">
                        {{electoral.user.firstname}}
                      </a>
                    </h3>
                    <p>Candidates : {{electoral.montant }}</p>
                    <button *ngIf="isAdmin" mat-raised-button mat-button-sm
                      color="warn" class="mr-1 ml-3 mb-1">Remove</button>
                  </div>
                  <div class="buy">
                    <a [routerLink]="[]">
                      <i class="material-icons">details</i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="inside">
                <a [routerLink]="[]">
                  <div class="icon"><i class="material-icons">info_outline</i></div>
                </a>
                <div class="contents">
                  <p> {{electoral.typeCredit }}
</p>
<p> {{electoral.raison }}
</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  
    </div>
  </mat-card>