



<mat-card class="p-2 main-detail-product">
  <div class="product-detail" fxLayout="row wrap">
    <div class="column m-gap p-gap product-img" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50"
      fxFlex.xl="50">
      
    <div class="column m-gap p-gap product-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50"
      fxFlex.xl="50">
      <div class="" *ngFor="let electoral of demandes">
        <h1> {{electoral.user.firstname}} </h1>
        <div class="price">
          <h4><span>Montant : {{electoral.montant }}</span></h4>
          <h4><span>typeCredit : {{electoral.typeCredit }}</span></h4>
        </div>
        <div class="separator"></div>
        <p>
          {{electoral.raison}}
        </p>
      </div>
      <ul class="share-with">
        <li><i class="fa fa-eye fa-2x"></i></li>
        <li><i class="fa fa-heart-o fa-2x"></i></li>
        <li><i class="fa fa-envelope-o fa-2x"></i></li>
        <li><i class="fa fa-share-alt fa-2x"></i></li>
      </ul>
    </div>
  </div>
  <mat-card>
    <mat-card-title>
      <h5 class="mt-0">Candidates</h5>
    </mat-card-title>
    <hr>
    <div class="mb-2"></div>
    
  </mat-card>




  <mat-card>
    <mat-card-title>
      <h5 class="mt-0">Demande  List</h5>
    </mat-card-title>
    <hr>
    <div class="mb-2"></div>
    <div fxLayout="row wrap">
      <ng-container *ngFor="let electoral of demandes">
        <div fxFlex.sm="33.33" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33"
          class="m-gap p-gap">
          <div class="p-list-main mb-2">
            <div class="p-list">
              <div class="top"><img style="height: 250px;
                object-fit: cover;" [src]=" 'assets/images/nike.jpg'">
              </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h3>
                      <a [routerLink]="[]">
                        {{electoral.user.firstname}}
                      </a>
                    </h3>
                    <p>Candidates : {{electoral.montant }}</p>
                    <button *ngIf="isAdmin" mat-raised-button mat-button-sm
                      color="warn" class="mr-1 ml-3 mb-1">Remove</button>
                  </div>
                  <div class="buy">
                    <a [routerLink]="[]">
                      <i class="material-icons">details</i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="inside">
                <a [routerLink]="[]">
                  <div class="icon"><i class="material-icons">info_outline</i></div>
                </a>
                <div class="contents">
                  <p>                         {{electoral.typeCredit }}
</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  
    </div>
  </mat-card>