<mat-card>
  <mat-card-title>
    <h5 class="mt-0">Candidate List</h5>
  </mat-card-title>
  <hr>
  <div class="mb-2"></div>
  <div class="row" fxLayout="row wrap">
    <div class="example-2 card mat-pad mb-1" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50" fxFlex.lg="33.33"
      fxFlex.xl="33.33" *ngFor="let candidate of candidates">
      <div class="wrapper" id="candidate-bg-{{candidate.id}}">
        <div class="header">
          <div class="date">
            <span class="day"> {{candidate.createdAt | date: 'dd'}} </span>
            <span class="month">{{candidate.createdAt | date: 'MMMM'}} </span>
            <span class="year">{{candidate.createdAt | date: 'yyyy'}} </span>
          </div>
          <div>
            <img class="candidate-img" src="{{candidate.image}}" alt="">
            <h5 class="title"> <a [routerLink]="['/candidates/show/'+candidate.id]">{{candidate.email}}</a> </h5>
            <h4 class="title"><a [routerLink]="['/candidates/show/'+candidate.id]">{{candidate.firstname | titlecase}}
                {{candidate.lastname | titlecase}}</a>
            </h4>
            <h5 class="title" style="color: black;">
              <span class="fa fa-star"></span>
              {{candidate.rating}}
            </h5>
          </div>
        </div>
        <div class="data">
          <div class="content">
            <a (click)="goProfile(candidate.id)" class="button"> Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>