
<div class="container">
  <form action="action_page.php">

    <label for="fname">Assurance Obligatoire pour la sécurité</label>

    <label for="lname">Prime</label>
    <input  value="200">
<br>
    <label for="country">Votre Assurance Sur :</label>
    <select  name="Auto">
      <option value="auto">Auto</option>
      <option value="canada">Immobilier</option>
      <option value="usa">Consommation</option>
    </select>
    <label for="subject">Saisir Votre Questionnaire si tu veux</label>
    <textarea  placeholder="Votre commentaire" style="height:200px"></textarea>

    <input   type="submit" value="Envoyer">

  </form>
</div>