<div class="col-md-6">
  <table class="table table-striped">
  <thead>
  <tr>
    <th>montant</th>
    <th>raison</th>
    <th>etat</th>
    </tr>
  </thead>
  <tbody>
      <tr >
      
        <td>{{accounts.montant}}</td>
        <td>{{accounts.typeCompte}}</td>
        <td>{{accounts.user.firstname}}</td>
          </tr>
  </tbody>
    </table>

  </div>







  <mat-card>
    <mat-card-title>
      <h5 class="mt-0">Compte Bancaire</h5>
    </mat-card-title>
    <hr>
    <div class="mb-2"></div>
    <div fxLayout="row wrap">
      <ng-container>
        <div fxFlex.sm="33.33" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33"
          class="m-gap p-gap">
          <div class="p-list-main mb-2">
            <div class="p-list">
              <div class="bottom">
              </div>
              <div class="inside">
                <a>
                  <div class="icon"><i class="material-icons">{{accounts.montant}}</i></div>
                  <div ><i class="material-icons">{{accounts.Rib}}</i></div>
                  <div class="icon"><i class="material-icons">{{accounts.user.lastname}}</i></div>

                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
  
    </div>
  </mat-card>