table, th, td {
    border: 0.5px solid black;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  table {
    width: 100%;
    color: blue($color: #000000);
  }

  tbody {
    color: blue($color: #000000);
  }
 