
  <mat-card>
    <mat-card-title>
      <h5 class="mt-0">Activity List</h5>
    </mat-card-title>
    <hr>
                <table id="table" class="table table-hover table-mc-light-blue">
                  <thead>
                    <tr>
                      <th></th>
                      <th>RIB</th>
                      <th>montant</th>
                      <th>typeCompte</th>
                      <th>UserName</th>
                      <th>DateOuverture</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let account of accounts">
                    <td>
                      <button class="btn btn-success" >Supprimer</button>
                    </td>
                    <td data-title="RIB">{{account.rib}}</td>
                    <td data-title="montant">{{account.montant}}</td>
                    <td data-title="typeCompte">{{account.typeCompte}}</td>
                    <td data-title="UserName">{{account.user.firstname}}</td>
                    <td data-title="DateOuverture">{{account.dateouverture}}</td>
                  </tbody>
                </table>
          
          </mat-card>