<p>
  product-create works!
</p>

<div class="card" *ngIf="generic">
  <div class="card-body">
    <input type="text" placeholder="name" [(ngModel)]="product.name">
    <div *ngFor="let value of product.valueList">
      <label for=""> {{value.name}} </label>
      <input *ngIf="value.type == 'string' " [(ngModel)]="value.value" type="text" placeholder="{{value.value}}">
      <input *ngIf="value.type == 'int' " [(ngModel)]="value.value" type="number" placeholder="{{value.value}}">
    </div>
    <button (click)="onSubmit()">Submit</button>
  </div>
</div>






            <!-- Contact Area -->
            <div class="contact---area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <!-- Contact Area -->
                            <div class="contact-form-area contact-page">
                                <h4 class="mb-50">Send a message</h4>

                                <form *ngIf="generic" >
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control"  placeholder= [(ngModel)]="product.name">
                                            </div>
                                        </div>
                                        <div *ngFor="let value of product.valueList">
                                            <label for=""> {{value.name}} </label>
                                        <div class="col-lg-6" >
                                            <div class="form-group">
                                                <input *ngIf="value.type == 'string' " [(ngModel)]="value.value" class="form-control" id="email" placeholder="{{value.value}}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input   *ngIf="value.type == 'int' " [(ngModel)]="value.value" type="number" placeholder="{{value.value}}" class="form-control" id="subject">
                                            </div>
                                        </div>
                                        </div>
                                        
                                        <div class="col-12">
                                            <button class="btn credit-btn mt-30"  (click)="onSubmit()" type="submit">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
    <!-- ##### Contact Area End ##### -->
