<p>
  product-create works!
</p>

<div class="card" *ngIf="generic">
  <div class="card-body">
    <input type="text" placeholder="name" [(ngModel)]="product.name">
    <div *ngFor="let value of product.valueList">
      <label for=""> {{value.name}} </label>
      <input *ngIf="value.type == 'string' " [(ngModel)]="value.value" type="text" placeholder="{{value.value}}">
      <input *ngIf="value.type == 'int' " [(ngModel)]="value.value" type="number" placeholder="{{value.value}}">
    </div>
    <button (click)="onSubmit()">Submit</button>
  </div>
</div>






<link rel="stylesheet" href="assets/css/styles.css">


<div class="contact-form-area contact-page">
  <h4 class="mb-50">Send a message</h4>

  <form action="#" method="post">
      <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="Your Name">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Your E-mail">
              </div>
          </div>
          <div class="col-12">
              <div class="form-group">
                  <input type="text" class="form-control" id="subject" placeholder="Your Subject">
              </div>
          </div>
          <div class="col-12">
              <div class="form-group">
                  <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
              </div>
          </div>
          <div class="col-12">
              <button class="btn credit-btn mt-30" type="submit">Send</button>
          </div>
      </div>
  </form>
</div>