<div fxLayout="row wrap">
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
     class="m-gap p-gap">
     <mat-card>
        <div class="card-wheather grad-blue" >
           <div class="city">  <a [routerLink]="['/account/listacountbanc']">Compte Bancaire</a></div>
           <div class="weather">
              <div class="sun d-flex justify-content-between">
                 <i class="fa fa-users fa-3x align-self-center"></i>
                 <div class="temp align-self-center"></div>
              </div>
           </div>
        </div>
     </mat-card>
  </div>
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
     class="m-gap p-gap">
     <mat-card>
        <div class="card-wheather grad-green">
           <div class="city">Compte Titre</div>
           <div class="weather">
              <div class="sun d-flex justify-content-between">
                 <i class="fa fa fa-list fa-3x align-self-center"></i>
                 <div class="temp align-self-center"></div>
              </div>
           </div>
        </div>
     </mat-card>
  </div>
  </div>